.header
  .header__title
    MyCloset
  .header__login
    .header__login__left
      ログイン
    .header__login__right
      ログアウト
.main
  .main__side
    .main__side__register
      ＋ 服を登録する
    .main__side__categories
      %ul.category
        %li.belong
          ワンピース
        %li.amount
          ６
      %ul.category
        %li.belong
          トップス
        %li.amount
          ６
      %ul.category
        %li.belong
          スカート
        %li.amount
          ６
      %ul.category
        %li.belong
          パンツ
        %li.amount
          ６
      %ul.category
        %li.belong
          アウター
        %li.amount
          ６
      %ul.category
        %li.belong
          バッグ
        %li.amount
          ６
      %ul.category
        %li.belong
          シューズ
        %li.amount
          ６
  .main__categoryDetail
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
.footer