.header
  .header__title
    MyCloset
  .header__login
    .header__login__left
      ログイン
    .header__login__right
      ログアウト
.main
  .main__side
    .main__side__register
      ＋ 服を登録する
    %ul.main__side__categories
      %li.category
        ワンピース
      %li.category
        トップス
      %li.category
        スカート
      %li.category
        パンツ
      %li.category
        アウター
      %li.category
        バッグ
      %li.category
        シューズ
  .main__categoryDetail
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
    .itemImage
      画像1
.footer