  .showDetail__image {
    height: 220px;
    width: 220px;
    margin: 30px;
  }

  .showDetail__tags {
    height: 220px;
    width: 220px;
    margin: 30px;
    color: white;
    background-color: plum;

    &__category {
      height: 55px;
      width: 300px;
      padding-left: 20px;
      list-style: none;
      display: flex;
      line-height: 55px;
      
    }
    &__color {
      height: 55px;
      width: 300px;
      padding-left: 20px;
      list-style: none;
      display: flex;
      line-height: 55px;
    }
    &__season {
      height: 55px;
      width: 300px;
      padding-left: 20px;
      list-style: none;
      display: flex;
      line-height: 55px;
    }

  }
  .Btns {
    height: 55px;
    width: 300px;
    padding-left: 20px;
    line-height: 55px;

    .delete {
      text-decoration: none;
      color: white;
    }
  }