  @mixin showDetailLayout {
    height: 220px;
    width: 220px;
    margin: 30px;
  }

  @mixin showDetailTagsLayout {
    height: 55px;
    width: 300px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    line-height: 55px;
  }
  
  .showDetail__image {
    @include showDetailLayout;
  }

  .showDetail__tags {
    @include showDetailLayout;
    color: white;
    background-color: plum;

    &__category {
      @include showDetailTagsLayout;
    }
    &__color {
      @include showDetailTagsLayout;
    }
    &__season {
      @include showDetailTagsLayout;
    }

  }
  .Btns {
    height: 55px;
    width: 300px;
    padding-left: 20px;
    line-height: 55px;

    .delete {
      text-decoration: none;
      color: white;
    }
  }